@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(261, 56%, 52%);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-image: url("http://127.0.0.1:8000/static/images/background.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

.container {
  min-width: 95%;
  border-radius: 5px;
  margin: 100px;
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.top-section {
  min-width: 100%;
  max-height: 100px;
  padding: 30px 0px 5px 5px;
  text-align: left;

  background-color: white;
}

.register {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;

  margin-left: 20px;
  color: #673ab7;
}

.describe {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: #a8a8a8;
}
.middle-section {
  min-width: 100%;
  padding-top: 15px;
}

.input-box {
  min-width: 100%;
  margin-top: 30px;
}

.input-box:hover .text {
  opacity: 0.5;
}

.text {
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 20px;
  margin-bottom: 2px;
  color: #020b18;
  transition: 150ms ease-in-out;
}

.input {
  margin-left: 20px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 10px 5px 10px 10px;
  font-family: "Source Code Pro", monospace;
  transition: 500ms ease-in-out;
  background-color: rgb(217, 230, 250);
  border-radius: 10px;
}
.input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgb(58, 201, 177);
}

.bottom-section {
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.button {
  border: none;
  margin-left: 30px;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  font-size: 1.01rem;
  font-weight: bolder;
  color: white;
  background-color: #673ab7;
  margin-bottom: 15px;
  transition: 50ms ease-in-out;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.ripples {
  position: absolute;
  background-color: rgb(223, 219, 219);
  pointer-events: none;
  border-radius: 50%;
  animation: animateripples 500ms linear infinite;
}

.button:focus {
  outline: none;
}

.down {
  font-family: "Source Code Pro", monospace;
  margin: 0px 0px 10px 20px;
}
.warning,
.warning p {
  color: red;
}

.warning input:focus,
.warning .span:focus {
  outline: none;
  box-shadow: none;
}

.down {
  display: none;
  font-size: 0.8rem;
  font-weight: lighter;
}
.warning .down {
  display: initial;
}

@media screen and (min-width: 550px) {
  .container {
    max-width: 500px;
    margin-top: 30px;
    min-width: 500px;
    margin-bottom: 20px;
  }

  .svg,
  .svg2 {
    display: initial;
    z-index: -2;
  }
  .button:hover {
    cursor: pointer;
    background-color: #7c54c2;
  }
}

.span {
  background-color: rgb(217, 230, 250);
  padding: 20px 5px 20px 10px;
  margin-left: 20px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  max-width: 90%;
  font-family: "comic Sans Ms";
  font-size: 0.8rem;
  border-radius: 10px;
  transition: 500ms ease-in-out;
}

.span:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgb(58, 201, 177);
}

.warning input,
.warning .span {
  border: 1px solid red;
}

.serverResponse {
  transition: 200ms ease-in-out;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 0.8rem;
  color: red;
  font-family: "comic Sans ms";
  display: none;
}

.progress-bar {
  position: absolute;
  bottom: 0px;
  min-width: 30%;
  min-height: 5px;
  background-color: #ab86ec;
  border-radius: 30px 30px 30px 30px;
  z-index: 100;
  opacity: 0;
}

.sub-progress {
  position: absolute;
  bottom: 0px;
  min-width: 100%;
  min-height: 5px;
  background-color: #5a24b6;
  border-radius: 0px 10px 10px 0px;
  z-index: 1;
  opacity: 0;
}

@media only screen and (max-width: 350px) {
  .container {
    margin: 50px 5px 50px 5px;
  }

  .top-section {
    padding: 20px 0px 5px 0px;
  }

  .button {
    margin-left: 10px;
    font-size: 1rem;
    padding: 10px 15px 10px 15px;
    margin-right: 0px;
  }

  .serverResponse {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 400px) {
  .register {
    letter-spacing: initial;
    font-size: 2.5rem;
  }

  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@keyframes animateripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    left: -100px;
    top: -100px;
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

@keyframes progressbar {
  0% {
    left: -50%;
  }

  100% {
    left: 150%;
  }
}
